/* Mode jour (par défaut) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Fond blanc */
}

.widget {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; /* Fond clair pour la boîte */
}

.time {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #000; /* Texte noir */
}

.date {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #000; /* Texte noir */
}

button.toggle-theme {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mode sombre */
body.dark-theme {
    background-color: #191919; /* Fond sombre */
}

.widget.dark-theme {
    background-color: #373737; /* Fond blanc pour la boîte */
}

.time.dark-theme, 
.date.dark-theme {
    color: #000; /* Texte noir */
}
